<%# A generic dialog for actions %>

<%= turbo_frame_tag dialog_id do %>
  <dialog class="p-0 rounded-2xl w-full max-w-[48rem]" data-controller="dialog" data-dialog-target="dialog" data-dialog-keep-value="<%= keep %>" data-action="click->dialog#close" data-turbo-temporary>
    <div class="w-full h-full p-5" data-action="click->dialog#stay">
      <h4 class="font-extralight mb-5 text-3xl"><%= title %></h4>

      <%= yield %>

    </div>
  </dialog>
<% end %>
