<header class="bg-white px-5 py-2 shadow flex flex-row items-center justify-between">
  <div>
    <%= link_to root_path do %>
      <h2 class="font-black hidden sm:block text-xl text-primary hover:text-orange-500 cursor-pointer">Project Management Software</h2>
      <h2 class="font-black block sm:hidden text-xl text-primary hover:text-orange-500 cursor-pointer">PMS</h2>
    <% end %>
  </div>

  <div class="flex flex-row gap-4">
    <%= link_to 'Project', root_path, class: "#{request.path == root_path ? 'font-black text-primary' : '' } hover:text-orange-500" %>
    <%= link_to 'Tasks', '#', class: "#{request.path == '#' ? 'font-black text-primary' : '' } hover:text-orange-500" %>
  </div>
</header>
