<div id="task_map">
  <div data-controller="dialog" data-dialog-keep-value="false">
    <p class="text-center mt-2 mb-4">
      <button type="button" class="text-primary font-bold text-center" data-action="click->dialog#show">Show Project Task Map</button>
    </p>
    <dialog class="rounded-lg p-0 sm:w-1/2 w-full" data-dialog-target="dialog" data-action="click->dialog#close">
      <div class="p-5 h-full w-full" data-controller="map" data-action="click->dialog#stay" data-map-latitude-value="<%= project.tasks.empty? ? 31.3132314 : project.tasks.pluck(:latitude).sum / project.tasks.count  %>" data-map-longitude-value="<%= project.tasks.empty? ? 73.153312 : project.tasks.pluck(:longitude).sum / project.tasks.count  %>" data-map-is-project-value="true" data-map-project-coordinates-value="<%= project.tasks.pluck(:latitude, :longitude, :title) %>">
        <h4 class="font-light text-center text-2xl my-2">Project Task Map</h4>
        <div data-map-target="map" class="h-64 w-full"></div>
      </div>
    </dialog>
  </div>
</div>
