<%= render 'shared/navbar' %>

<h1 class="font-black font-serif text-3xl text-primary text-center my-5"><%= @project.title %></h1>
<p class="text-black text-opacity-30 text-center text-base sm:text-2xl mt-10">You currently do not have tasks.</p>

